@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #fafaee;
}
  

.navclass{
    background-color: #11110e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px; 
    color: white; 
    border-radius: 10px;
    position: sticky;
    top: 1.5vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    h1{
        font-size: 25px;
        font-weight: 700;
        padding-right: 80px;
        font-family: "Montserrat", sans-serif;
        margin-top: 8px;
    }
    .nav-left{
        display:flex;
        align-items: center;

        

        ul{
            list-style: none;
            display: flex;
            margin-top: 14px;
            gap: 40px;
        }
    }

    .nav-right{
        display: flex;
        gap: 3px;
        font-family: "Roboto", sans-serif;

        .nav-button{
            border: 2px solid #3f3f3f;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}


.form-label{
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}


.wrapper-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: -10;
    
    .card-body{
        width: 100%;
        padding: 20px;
        border-radius: 15px;
        border: #11110e 2px solid;

        .card-text {
            max-height: 8 * 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
        }
    }
}
