@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #fafaee;
}
  

nav{
    background-color: #11110e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; 
    color: white; 
    border-radius: 10px;
    position: sticky;
    top: 1.5vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    
    .nav-left{
        display:flex;
        align-items: center;

        h1{
            padding-right: 80px;
            font-family: "Montserrat", sans-serif;
        }

        ul{
            list-style: none;

            display: flex;
            gap: 40px;
        }
    }

    .nav-right{
        display: flex;
        gap: 3px;
        font-family: "Roboto", sans-serif;

        .nav-button{
            border: 2px solid #3f3f3f;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}


.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 4rem 7rem;

    .hero-left{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .application-button{
            padding: 1px 50px;
            border-radius: 10px;
            width: fit-content;
            border: 2px black solid;
            font-weight: 600;

            font-size: 0.8rem;
        }

        p{
            font-weight: 50;
        }
        
        h1{
            font-size: 3.5rem;

            .pink-bar {
                position: relative; /* Change to relative to allow positioning of the pseudo-element */
            }
            
            .pink-bar::after {
                content: ""; 
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 25px; 
                background-color: rgb(172, 170, 220);
                z-index: -10;
            }
            
        }

        .hero-button{
            background-color: #11110e;
            color: #f6f6f2;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            width: fit-content;
            padding: 10px 18px;
            border-radius: 40px;
        }
    }

    .hero-right{
        place-items: center;

        .wrapper-photo{
            display: flex;
            justify-content: end;
            gap: 5px;

            .filter{
                background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
            }

            .photo2{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                justify-content: center;

                .img{
                    height: 150px;
                    width: 200px;
                    border-radius: 10px;
                }
            }
            .photo3{
                display: flex;
                flex-direction: column;
                gap: 5px;

                .img{
                    border-radius: 10px;
                }
            }
        }
    }
}